<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30008" type="bool" id="filefilter" default="false"/>
        <setting type="sep"/>
        <setting label="30003" type="action" action="RunScript($CWD/resources/lib/login.py)"/>
        <setting label="30006" type="text" id="access_token" default=""/>
    </category>
</settings>